body {
}

.nav-item1 {
    font-size: 1rem;
    padding-bottom: 0.3rem;
}

.nav-item1 {
    background: none;
    border: inherit;
    border-radius: 14px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    width: 100%;
}

.nav-item1 {
    transition: all 3s ease-in-out;
}

.nav-item1:hover {
    color: white;
    background-color: #258cff80;
}

