@page "/Account/Manage/Disable2fa"

@using Manufacture.Core.Entities.Identity
@using Microsoft.AspNetCore.Identity
@using Manufacture.Infrastructure.Data

@inject UserManager<User> UserManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ILogger<Disable2fa> Logger

<PageTitle>Отключить двухфакторную аутентификацию</PageTitle>

<StatusMessage/>
<h3>Отключить двухфакторную аутентификацию</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Это действие отключает двухфакторную аутентификацию.</strong>
    </p>
    <p>
        Отключение 2FA не изменяет ключи, используемые в приложениях аутентификации. Если вы хотите изменить ключ,
        используемый в приложении аутентификации, вам следует  <a href="Account/Manage/ResetAuthenticator">сбросить ваши ключи аутентификации.</a>
    </p>
</div>

<div>
    <form @formname="disable-2fa" @onsubmit="OnSubmitAsync" method="post">
        <AntiforgeryToken/>
        <button class="btn btn-danger" type="submit">Отключить 2FA</button>
    </form>
</div>

@code {
    private User user = default!;

    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);

        if (HttpMethods.IsGet(HttpContext.Request.Method) && !await UserManager.GetTwoFactorEnabledAsync(user))
        {
            throw new InvalidOperationException("Невозможно отключить 2FA для пользователя, поскольку он в настоящее время не включен.");
        }
    }

    private async Task OnSubmitAsync()
    {
        var disable2faResult = await UserManager.SetTwoFactorEnabledAsync(user, false);
        if (!disable2faResult.Succeeded)
        {
            throw new InvalidOperationException("Произошла неожиданная ошибка при отключении 2FA.");
        }

        var userId = await UserManager.GetUserIdAsync(user);
        Logger.LogInformation("Пользователь с ID '{UserId}' отключил 2FA.", userId);
        RedirectManager.RedirectToWithStatus(
            "Account/Manage/TwoFactorAuthentication",
            "2FA был отключен. Вы можете повторно включить 2FA, когда настроите приложение аутентификации",
            HttpContext);
    }

}