@page "/Account/Lockout"

<PageTitle>Вы заблокированы.</PageTitle>

<header>
    <h1 class="text-danger">Ваш аккаунт заблокирован.</h1>
    <p class="text-danger">Этот аккаунт был заблокирован, попробуйте еще раз.</p>
</header>