@page "/Account/ResetPasswordConfirmation"
<PageTitle>Подтверждение сброса пароля</PageTitle>

<h1>Подтвердите сброс пароля</h1>
<p>
    Ваш пароль обновлен. Пожалуйста <a href="Account/Login">нажмите сюда для авторизации</a>.
</p>