@page "/Error"
@using System.Diagnostics

<PageTitle>Ошибка</PageTitle>

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">Возникла ошибка при обработке вашего запроса.</h2>

@if (ShowRequestId)
{
    <p>
        <strong>ID запроса:</strong> <code>@RequestId</code>
    </p>
}

<h3>Режим разработки</h3>
<p>
    Переключение в режим <strong>Разработка</strong> отобразит более подробную информацию об ошибке, которая произошла.
</p>
<p>
    <strong>Режим разработки не должен включаться для развернутых приложений.</strong>
    Это может привести к отображению конфиденциальной информации из исключений для конечных пользователей.
    Для локальной отладки включите режим <strong>Разработка</strong>, установив переменную среды <strong>ASPNETCORE_ENVIRONMENT</strong> в значение <strong>Development</strong>
    и перезапустите приложение.
</p>

@code{
    [CascadingParameter] private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;

}